<div *ngIf="notification" [ngClass]="getClass(notification.type)" class="notification">
  {{ notification.message }}
</div>
<div *ngIf="notification" [ngClass]="getClass(notification.type)" class="notification">
  <svg class="notification-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 2a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm1 17h-2v-2h2v2zm0-4h-2v-6h2v6z" fill="white"/>
  </svg>
  {{ notification.message }}
</div>
