.sidebar {
  transition: all 0.3s;
}

.hidden {
  transform: translateX(-100%);
}

img {
  border-radius: 50%;
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-180 {
  transform: rotate(180deg);
}
